<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
  <table style="width:100%;max-width:800px;border:0;border-spacing:0;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody>
      <tr>
        <td style="padding:20px;">
          <p style="text-align:center;">
            <a href="/">Home</a> &nbsp;/&nbsp;
            <a href="/blog/">Blog</a>
          </p>

          {{ content }}

          <p style="text-align:right;font-size:small;">
            Website source code credit to
            <a href="https://github.com/jonbarron/jonbarron.github.io">Dr. Jon Barron</a>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
